# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# OS/editor
.DS_Store
.vscode/
.idea/

# Build / temp
*.log

# Ignore project folders for now
data/
scripts/

# Local databases (keep DB out of git)
db/*.db
db/*.sqlite
db/*.sqlite3

# Generated PDFs
*.pdf
