[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
python-dotenv = "*"
python-multipart = "*"
reportlab = "*"
qrcode = {extras = ["pil"], version = "*"}
fastapi = "*"
uvicorn = "*"
python-jose = "*"
bcrypt = "==4.1.3"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
pytest = "*"
ruff = "*"

[requires]
python_version = "3.14"
